.main-container {
    height: 1000px;
    flex-basis: 100%;
    margin: auto;
   
}

.header-container {
    display: flex;
    align-items: center;
    height: 250px;
    flex-basis: 100%;
    margin: auto;
}

.big-box {
    display: flex;
    background-color: #bf285b;
    border: 2px solid black;
    height: 230px;
    flex-basis: 100%;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.small-box {
    display: flex;
    align-self: center;
    background-color: #37bf28;
    border: 2px solid white;
    height: 90px;
    flex-basis: 10%;
    margin-left: 20px;
}
  
 .log-in-box{
    align-self:center;
    font-weight: bold;
    font-size:23px;
    color:white;
    height: 40px;
    flex-basis:10%;
    margin-left: 75%;   
 }  
 
 .box-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 233px;
    flex-basis: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
 }

.box1{
    background-color: #e33720;
    border: 2px solid black;
    height: 100px;
    flex-basis: 18%;
    margin-left: 10px;
    margin-right: 10px;
}
.box2{
    background-color: #e33720;
    border: 2px solid black;
    height: 100px;
    flex-basis: 18%;
    margin-left: 10px;
    margin-right: 10px;
}
.box3{
    background-color: #e33720;
    border: 2px solid black;
    height: 100px;
    flex-basis: 18%;
    margin-left: 10px;
    margin-right: 10px;
}
.box4{
    background-color: #e33720;
    border: 2px solid black;
    height: 100px;
    flex-basis: 18%;
    margin: left 10px;
    margin-right: 10px;
}
.circle{
    background-color: #02cc6e;
    border:2px solid black ;
    height: 90px;
    flex-basis: 90px;
    border-radius: 100px; 
    margin-right: 10px;
}
.article{
    display: flex;
    flex-direction: row;
    height: 233px;
    flex-basis: 100%; 
    margin-top: 10px; 
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.section1{
    background-color: #d9ec0b;
    border: 2px solid black;
    height: 233px;
    flex-basis: 20%;
    margin-right: 10px;
    
}
.section2{
    background-color: #2098e3;
    border: 2px solid black;
    height: 233px;
    flex-basis: 80%;
    margin-left: 10px;

}

footer{
display: flex;
background-color:#c90a9a;
border: 2px solid black;
height: 233px;
flex-basis: 100%;
margin-top: 10px;
margin-right: 10px;
margin-bottom: 10px;
margin-left: 10px;
}

   