
header {
    height:250px;
    background-color: rgb(192, 222, 18);
    border:4px solid black;
    margin-top: 10px;
}

main {
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
}

.section1 {
    align-content: space-between;
    background-color: rgb(209, 11, 137);
    flex-basis: 50%;
    height: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    border: 4px solid black;

}


.section2 {
    background-color: rgb(58, 235, 100);
    flex-basis: 50%;
    height: 250px;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 10px;
    border:4px solid black; 
}


footer {
    height: 250px;
    background-color: rgb(64, 43, 226);
    border:4px solid black;

    
}